{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block main %}
<div class="container-fluid px-0">
  {% if produits is not empty %}
    <div class="row gx-1 gy-1">

      {% for produit in produits %}
        <div class="col-12 col-sm-6 col-lg-4">
         {% if produit.images|length > 0 %}
  <div class="text-center mb-4">
   <a href="{{ path('produits_carte', {id: produit.id}) }}">
  <div class="ratio ratio-1x1">
  
  <img src="{{ asset(produit.images[0].url) }}" alt="{{ produit.nom }}" class="img-fluid img-produit">




</div>

</a>

  </div>
{% endif %}

        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}
